.coupons {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  .title {
    .box {
      height: 40px;
      width: 10px;
      background-color: #f5d714;
    }
    .coupons-title {
      font-size: 23px;
      font-weight: 600;
    }
  }
  .search-btn {
    .search {
      width: 70%;
      padding-left: 9px;
      padding-right: 8px;
      font-size: 14px;
      border: 1px #8c8c8c solid;
      height: 33px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .search:focus {
      outline: none;
      border: 1px #f5b214 solid;
    }
    .create-btn {
      height: 33px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: #f5b214;
      color: #fff;
      font-weight: 500;
      border: none;
      font-size: 13px;
    }
  }
  .coupon-items {
    .coupon-item {
      width: 320px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
      align-items: start;
      margin-bottom: 15px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      .sp {
        font-weight: bold;
        color: #8c8c8c;
        font-size: 15px;
      }
      .coupon-name {
        position: relative;
        height: 130px;
        background: linear-gradient(to bottom right, #f59b14, #f5b214, #f5d714);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        p {
          font-weight: bold;
          color: #fff;
          text-align: center;
          line-height: 130px;
          font-size: 20px;
        }
        .icons {
          position: absolute;
          top: 8px;
          right: 13px;
          i {
            color: #fff;
          }
          .i:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .prev-icon,
  .next-icon {
    border: none;
    background-color: transparent;
    font-size: 18px;
  }
  .page {
    margin-bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    line-height: 35px;
    width: 35px;
    text-align: center;
    border: none;
    color: #000;
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .page:focus {
    border: 1px #f5b214 solid;
    box-shadow: none;
    outline: none;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
