<div class="forget-password pt-5 px-lg-5 px-md-4 px-sm-3 px-3 mb-5 mt-3">
  <!-- Send email -->
  @if(!sendMailFlag){
  <div
    class="send-mail mt-5 py-5 px-lg-5 px-md-4 px-sm-3 px-3 col-lg-6 col-md-7 col-sm-10 col-12"
  >
    <img
      src="images/forgot-password.png"
      class="send-email-img col-lg-7 col-md-8 col-sm-10 col-12"
    />
    <p class="text-center prompt">Enter you email to send verification code</p>
    <form [formGroup]="sendMailForm" (ngSubmit)="sendMail(sendMailForm)">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="input-cont m-0">
          <input
            formControlName="email"
            type="email"
            class="input px-3 mb-2"
            placeholder="Email"
          />
          <label class="placeholder">Email</label>
        </div>
        <button [disabled]="sendMailForm.invalid" class="send-btn px-3 ms-2">
          Send
        </button>
      </div>
      @if(sendMailForm.get('email')?.errors !== null &&
      sendMailForm.get('email')?.touched && sendMailError === ''){
      @if(sendMailForm.get('email')?.errors?.['required']){
      <p class="err mt-1">Email is required</p>
      } @else if(sendMailForm.get('email')?.errors?.['email']){
      <p class="err mt-1">Invalid email</p>
      } } @if(sendMailError !== ''){
      <p class="err mt-1">{{ sendMailError }}</p>
      }
    </form>
  </div>
  }

  <!-- Verify code -->
  @if (sendMailFlag && !verifyCodeFlag) {
  <div
    class="verify-code mt-5 py-5 px-lg-5 px-md-4 px-sm-3 px-3 col-lg-6 col-md-7 col-sm-10 col-12"
  >
    <img
      src="images/email-sent.png"
      class="verify-code-img col-lg-7 col-md-8 col-sm-10 col-12"
    />
    <p class="text-center prompt">Enter the sent verification code</p>
    <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
      <div class="d-flex justify-content-center">
        <input
          formControlName="d1"
          type="number"
          maxlength="1"
          class="me-2 px-2 vc-input"
          (input)="onInput($event, 0)"
          (keydown)="onKeyDown($event, 0)"
        />
        <input
          formControlName="d2"
          type="number"
          maxlength="1"
          class="me-2 px-2 vc-input"
          (input)="onInput($event, 1)"
          (keydown)="onKeyDown($event, 1)"
        />
        <input
          formControlName="d3"
          type="number"
          maxlength="1"
          class="me-2 px-2 vc-input"
          (input)="onInput($event, 2)"
          (keydown)="onKeyDown($event, 2)"
        />
        <input
          formControlName="d4"
          type="number"
          maxlength="1"
          class="me-2 px-2 vc-input"
          (input)="onInput($event, 3)"
          (keydown)="onKeyDown($event, 3)"
        />
        <input
          formControlName="d5"
          type="number"
          maxlength="1"
          class="me-2 px-2 vc-input"
          (input)="onInput($event, 4)"
          (keydown)="onKeyDown($event, 4)"
        />
        <input
          formControlName="d6"
          type="number"
          maxlength="1"
          class="px-2 vc-input"
          (input)="onInput($event, 5)"
          (keydown)="onKeyDown($event, 5)"
        />
      </div>
      @if(verifyCodeForm.get('d1')?.errors !== null &&
      verifyCodeForm.get('d1')?.touched || verifyCodeForm.get('d2')?.errors !==
      null && verifyCodeForm.get('d2')?.touched ||
      verifyCodeForm.get('d3')?.errors !== null &&
      verifyCodeForm.get('d3')?.touched || verifyCodeForm.get('d4')?.errors !==
      null && verifyCodeForm.get('d4')?.touched ||
      verifyCodeForm.get('d5')?.errors !== null &&
      verifyCodeForm.get('d5')?.touched || verifyCodeForm.get('d6')?.errors !==
      null && verifyCodeForm.get('d6')?.touched) {
      <p class="err mt-1">Enter the full code</p>
      } @if(verifyCodeError !== ''){
      <p class="err mt-1">{{ verifyCodeError }}</p>
      }
      <button
        [disabled]="verifyCodeForm.invalid"
        class="verify-btn m-auto mt-3 px-3"
      >
        Verify Code
      </button>
    </form>
  </div>
  }

  <!-- Reset password -->
  @if (verifyCodeFlag) {
  <div
    class="reset-password mt-5 py-5 px-lg-5 px-md-4 px-sm-3 px-3 col-lg-6 col-md-7 col-sm-10 col-12"
  >
    <img
      src="images/reset-password.png"
      class="verify-code-img col-lg-7 col-md-8 col-sm-10 col-12"
    />
    <p class="text-center prompt">Reset Your Password</p>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword(resetPasswordForm)"
    >
      <div class="input-cont">
        <input
          formControlName="password"
          type="password"
          placeholder="New Password"
          class="input px-3 m-auto mb-2"
        />
        <label class="placeholder">New Password</label>
      </div>
      @if(resetPasswordForm.get('password')?.errors !== null &&
      resetPasswordForm.get('password')?.touched){
      @if(resetPasswordForm.get('password')?.errors?.['required']){
      <p class="err mt-1">Password is required</p>
      } @else if(resetPasswordForm.get('password')?.errors?.['minlength'] ||
      resetPasswordForm.get('password')?.errors?.['maxlength']){
      <p class="err mt-1">Password length should be between 8 and 20</p>
      } }
      <div class="input-cont">
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm New Password"
          class="input px-3 m-auto"
        />
        <label class="placeholder">Confirm New Password</label>
      </div>
      @if(resetPasswordForm.get('confirmPassword')?.errors !== null &&
      resetPasswordForm.get('confirmPassword')?.touched&&resetPasswordError===''){
      @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']){
      <p class="err mt-1">Confirm Password is required</p>
      } @if(resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] ||
      resetPasswordForm.get('password')?.errors?.['maxlength']){
      <p class="err mt-1">Confirm Password length should be between 8 and 20</p>
      } } @if(resetPasswordError!==''){
      <p class="err mt-1">{{ resetPasswordError }}</p>
      }
      <button
        [disabled]="resetPasswordForm.invalid"
        class="reset-btn m-auto mt-3 px-3"
      >
        Reset Password
      </button>
    </form>
  </div>
  }
</div>
