.menubar-cont {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  position: absolute;
  top: 0px;
  z-index: 100;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  width: fit-content;
  background: linear-gradient(to bottom right, #f59b14, #f5b214, #f5d714);
  overflow: auto;
  .menubar {
    margin-right: 25px;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    .user {
      margin-bottom: 20px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .user-info {
        .name {
          font-weight: 500;
          font-size: 17px;
          color: #fcfcfc;
        }
        .role {
          font-size: 14px;
          color: #fcfcfc;
        }
      }
    }
    .links {
      a {
        display: block;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;
        color: #fcfcfc;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        padding-left: 12px;
      }
    }
  }
  i {
    color: #fcfcfc;
    font-size: 17px;
    text-align: center;
  }
  i:hover {
    cursor: pointer;
  }
}

.menubar.ng-enter {
  transform: translateX(-100%);
}

.menubar.ng-leave {
  transform: translateX(0);
}
.menu-collapsed .links {
  padding: 0px;
  margin: auto;
}
.menu-collapsed {
  display: block;
  width: 60px;
  .icon-div {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}
.menu-collapsed .menubar{
  margin-right: 0px;
}
.menu-collapsed .user,
.menu-collapsed .link-text {
  display: none;
}
.icon-div {
  cursor: pointer;
  width: fit-content;
  padding: 5px 12px;
  height: fit-content;
  background-color: #fcfcfca6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  i{
    color: #f59b14;
  }
}