.dashboard {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding-left: 75px;
  .title {
    .box {
      height: 40px;
      width: 10px;
      background-color: #f5d714;
    }
    .dashboard-title {
      font-size: 23px;
      font-weight: 600;
    }
  }
  .card {
    background-color: #f7f7f8;
    border: 1px #f0f0f0 solid;
    width: 270px;
    padding: 25px 23px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    .card-r1 {
      p {
        line-height: 30px;
        font-size: 15px;
      }
    }
    .card-r2 {
      font-size: 13px;
      .p1-inc {
        color: #50d07f;
      }
      .p1-dec {
        color: #f12d2d;
      }
      .p2 {
        color: #b9b9b9;
      }
    }
    .divider {
      height: 1px;
      background-color: #b9b9b9;
      margin-bottom: 10px;
    }
    i {
      height: 30px;
      font-size: 13px;
    }
    .view-report {
      text-decoration: none;
      font-size: 14px;
      color: #f5b214;
    }
    .number {
      font-size: 17px;
      font-weight: 500;
    }
    .money-icon {
      i {
        line-height: 30px;
        color: #fcfcfc;
      }
      text-align: center;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: #f5b214b3;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  .c1 {
    width: fit-content;
  }
  .c2 {
    background-color: #f7f7f8;
    padding: 25px 23px;
    width: 600px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    .r1 {
      p {
        font-size: 15px;
        color: #000;
      }
      select {
        font-size: 13px;
        width: 90px;
        border: none;
        background-color: #b9b9b987;
      }
      select:focus {
        box-shadow: none;
        outline: none;
      }
    }
    .r2 {
      .total {
        font-size: 20px;
      }
      .perc {
        width: fit-content;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        color: #50d07f;
        background-color: #50d07f49;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
      }
      .profit {
        font-size: 13px;
        .point-1 {
          background-color: #f5b214;
          height: 7px;
          width: 7px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
      .loss {
        font-size: 13px;
        .point-2 {
          background-color: #ffca4e;
          height: 7px;
          width: 7px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
    .chart-container{
      margin-top: 15px;
      width: 100%;
    }
  }
}
i:hover {
  cursor: pointer;
}
